
/*creating static background image*/
body{
  background-image: url(../images/taosskivalley.jpg);
  background-repeat:repeat;
  background-attachment:fixed;
  background-position: left top;
  position:absolute;
  height:200rem;
  width: 100%;
  margin:0;
   }


/*general font settings*/
h2 {
  font-family: 'Black Ops One', cursive;
}

h3{ 
  font-family: 'Black Ops One', cursive;
}

h4 { 
  font-family: 'Black Ops One', cursive;
}

span {
  font-family: 'Karla', sans-serif;
}

p {
  font-family: 'Karla', sans-serif;
}

li {
  font-family: 'Karla', sans-serif;
}

div {
  font-family: 'Karla', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  width: 100%;
  height:4rem;
  background-color: rgb(255,255,255);
  text-align: right;
  position: fixed;
}

p {
  padding-left: 3rem;
}


/*creating slightly opaque box for description. will use similar for other sections.*/
.description {
  width: 90%;
  height:43rem;
  background-color: rgba(255,255,255, .9);
  margin-top: 8rem;
  margin-left: 4rem;
  
}
 
.description h2 {
  display: inline;
  float: left;
  margin-left: 3rem;
  margin-top: 3rem;
}

/*so "make" class is more flush against the brand*/
.description .make {
  margin-left: 0.4rem;
}

.description h3 {
  clear: both;
  padding-top: rem;
  margin-left: 3rem;
}

.primary-image {
  width: 20%;
  float: left;
  margin-left: 3rem;
}

.summary {
  float: left;
  width: 60%;
  margin-left: 3rem;
}

/*basics section*/
.basics {
  width: 90%;
  height:52rem;
  background-color: rgba(255,255,255, .9);
  margin: 4rem;
}

.basics h3 {
  float: left;
  margin: 3rem;
}

.image2 {
  clear: both;
  float: left;
  width: 10%;
  margin-left: 3rem;
}

.image3 {
  float: left;
  width: 11.9%;
  margin-left: 3rem;
}

.basics aside {
  float: left;
  font-size: 1.5rem;
  font-style: bold;
  margin-top: 5rem;
  margin-left: 5rem;
  line-height: 4rem;
}

 

/*detailed specs*/
.detailed-specs {
  width: 90%;
  height:40rem;
  background-color: rgba(255,255,255, .9);
  margin: 4rem;
}

.detailed-specs h3 {
  float: left;
  margin: 3rem;
}

.closeup {
  clear: both;
  float: left;
  width: 50%;
  margin-left: 3rem;
}

.detailed-specs aside {
  float: left;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-left: 3rem;
  line-height: 2rem;
}


/*mock up of picking color/length combo, pricing and inventory availability*/
.choices-availability-price {
  width: 90%;
  height:30rem;
  background-color: rgba(255,255,255, .9);
  margin: 4rem;
  line-height: 1rem;
}

/*hiding data*/
.SKU {
  visibility: hidden;
}
.price {
  visibility: hidden;
}
.discount {
  visibility: hidden;
}
.instore-availability{
  visibility: hidden;
}

.choices-availability-price h3 {
  float: left;
  margin-top: 3rem;
  margin-left: 3rem;
}

.choices-availability-price h4 {
  clear: both;
  margin-left: 3rem;
}
.choices-availability-price ul {
  width: 5rem;
  margin-left: 3rem;
  padding: 1rem;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
}
.choices-availability-price div {
  margin-left: 3rem;
}

.choices-availability-price button {
  margin-left: 3rem;
  color: black;
}

/*footer formatting and position*/
footer {
  width: 100%;
  height: 12rem;
  background-color: rgb(255,255,255);
}


